/*Writing and color*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:wght@100&display=swap"); 
@import url("css/button.css");

/* Header */


.header-style {
  padding: 15px;
  margin: 0;
  background-color: #D1BFB5;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
}

.header-style a:hover {
  color: white;
  text-decoration: none;
}

#seperate-items-header{
  margin-left: auto;
}

li{
  margin-left: 20px;
  margin-right: 20px;
}

/* Footer Style */

.footer-style {
  background-color: #C4C4C4;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  clear: both;
  bottom: 0;
  margin-top: 75px;
}

.footer-style a:hover {
  color: white;
  text-decoration: none;
}

#seperate-items-footer{
  margin-left: auto;
}

/* General Styles */

body {
background: #FFFFFF;
color: #2E120C;
font-family: 'Josefin Sans', sans-serif;
font-size: 17px;
font-weight: bold;
margin: 0;
border: 0;
}

h1 {
   font-family: 'Dancing Script', cursive;
   font-size:30px;
   color: #2E120C;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}
h3{
   font-family: 'Dancing Script', cursive;
   font-size:40px;
   color: #2E120C;
   margin-left: 80px;
}
h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 23px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
}

a {
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	color: #2A303B;
	font-weight: 600;
        font-size: 16px;
}
h5 {
	font-family: 'Dancing Script', cursive;
	color: #2E120C;
	font-size: 80px;
	font-weight: 400;
}
h6 {
	font-family: 'Dancing Script', cursive;
	color: #2E120C;
	font-size: 80px;
	font-weight: 400;
	margin-block-start: 1.67em;
    margin-block-end: 1.67em;
}
img{
  border-radius:10%;
    width:170px; 
}

 /* Shoe Page */
.grid-container{
  display: grid;
  grid-template-columns: 170px 170px 170px 170px;
  grid-template-rows: 170px 170px;
  grid-gap: 50px 50px;
  justify-content: center;
  margin-top: 100px;
  }

.grid-item {
  background: #C4C4C4;
  justify-content: start;
}

#description{
  font-size: 24px;
}

/* Product Page */

.followpath{
  display: flex;
  list-style: none;
  color: black;
  margin-top: 40px;
  margin-bottom: 0 auto;
}

.shoe-category{
  display: flex;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  color: black;
  margin-top: 40px;
  margin-bottom: 0 auto;
}


.shoe-category a:hover {
  color: black bold;
  text-decoration: none;
}

.container-boots{
  width: 1000px;
  margin: 0 auto;
}

#img-float{
  float: left;
  margin: 30px;
  width: 370px;
  height: 370px;
}

#add-space{
  margin-top: 50px;
}

/* image fleche */

.arrow {
position: absolute;
width: 153px;
height: 129px;
left: 750.5px;
top: 115px;
background: url(images/arrow.jpg.png);
transform: rotate(30deg);
}

/*Container*/

  .card-white{
  background-color:#d8c9c9; 
  padding:10px;
  box-shadow:0px 10px 30px rgba(0,0,0,0.1);
  border-radius:4px;
  margin:130px 130px;
  text-align:center;
  position: absolute;
  width: 650px;
  height: 400px;
  top: 50px;
  left: 50%;
  margin-left: -620px;
}

/*Carte profil avec différent emplacement sur la page*/

 .card-naomi{
  background-color:#d8c9c9; 
  padding:10px;
  box-shadow:0px 10px 30px rgba(0,0,0,0.1);
  border-radius:4px;
  margin:130px 550px;
  text-align:center;
  position: absolute;
  width: 200px; 
  height: 340px; 
  top: 100px; 
  left: 50%; 
  margin-left: 240px;

 }

 .card-pp{
  background-color:#d8c9c9; 
  padding:10px;
  box-shadow:0px 10px 30px rgba(0,0,0,0.1);
  border-radius:4px;
  margin:130px 550px;
  text-align:center;
  position: absolute;
  width: 200px; 
  height: 340px; 
  top: 100px; 
  left: 50%; 
  margin-left: 10px;

 }

 .card-emie{
  background-color:#d8c9c9; 
  padding:10px;
  box-shadow:0px 10px 30px rgba(0,0,0,0.1);
  border-radius:4px;
  margin:130px 550px;
  text-align:center;
  position: absolute;
  width: 200px; 
  height: 340px;
  top: 100px; 
  left: 50%; 
  margin-left: -220px;

 }

 .card-emilie{
  background-color:#d8c9c9; 
  padding:10px;
  box-shadow:0px 10px 30px rgba(0,0,0,0.1);
  border-radius:4px;
  margin:130px 550px;
  text-align:center;
  position: absolute;
  width: 200px; 
  height: 340px; 
  top: 100px; 
  left: 50%;
  margin-left: -450px;

 }


 /*Placer une image a gauche d'un texte*/

 .flotte{
 	float:left;
 }

 /*Placer un texte à droite*/

.right{
    text-align: center;
    position: absolute;
    width: 200px;
    height: 240px;
    top: 240px;
    left: 44%;
    margin-left: 240px;
    font-family: 'Dancing Script', cursive;
   font-size:25px;
   color: #2E120C
}

.container{
	width:700px;
	margin:0px auto;
}
	  
	  
/* Custom design with class */

.container {
	width: 700px;
	margin: 40px auto;
}
.card-brown {
	background-color: #D1BFB5;
	padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
	box-shadow: : 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.card-finalize {
	background-color: #D1BFB5;
	padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
	box-shadow: : 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
	width: 25%;
	height: auto;
}
.img-square {
	width: 50%;
	height: auto;
}
.btn-brown {
	display:inline-block;
	text-decoration:none;
	background-color:#2E120C;
	color:white;
	cursor:pointer;
	font-family: 'Josefin Sans', sans-serif;
	font-size:22px;
	line-height:55px;
	text-align:center;
	margin:0;
	height:55px;
	padding:0px 36px;
	border-radius:0px;
	max-width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight:bold;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.btn-website {
	display:inline-block;
	text-decoration:none;
	background-color:#2E120C;
	color:white;
	cursor:pointer;
	font-family: 'Josefin Sans', sans-serif;
	font-size:22px;
	line-height:55px;
	text-align:center;
	margin:0;
	height:55px;
	padding:0px 36px;
	border-radius:0px;
	max-width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight:bold;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
#introduction p {
	margin-bottom: 40px;
}
/* images of the value page */
#logo2,#values{
 display: block;
 margin-left: auto;
 margin-right: auto;
}


/* buttons of the value page */
.button{
  background-color: #D1BFB5;
  color: black;
  padding:7px 25px 5px;
  font-size: bold;
  font-family: 'Josefin Sans', sans-serif;
  width: 200px;
  height: 30px;
  text-align: center;
}
#login{
  margin-left: 310px;
  position: absolute;
}
#continue{
  margin-left: 720px;
  position: absolute;
}


/* Products on homepage */
#heels{
  margin-left: 80px;
  position: absolute;
}
#boots{
  margin-left: 530px;
  position: absolute;
}
#sneakers{
  margin-left: 980px;
  position: absolute;
}
#sandals{
  position: absolute;
  margin: 430px 305px;
}
#mocassins{
  position: absolute;
  margin: 430px 755px;
}


/* buttons of the homepage */
#button-heels{
  position: absolute;
  margin: 120px 80px;
}
#button-boots{
  position: absolute;
  margin: 120px 530px;
}
#button-sneakers{
  position: absolute;
  margin: 120px 980px;
}
#button-sandals{
  position: absolute;
  margin: 550px 305px;
}
#button-mocassins{
  position: absolute;
  margin: 550px 755px;
}
